# **Week 1**

#### **Objective: Evaluate the Data Set using Polynomial and Interaction Terms**

Each dataset has already been explored through univariate, bivariate, and multivariate analysis, including assissments of variable interactions and correlations with the target outcome. 

in this section, we extend that analysis by explicitly evaluating polynomial transformations and interaction terms (both categorical and numeric). The goal is to capture potential nonlinear relationships and combined effects between variables, and to assess how these features contribute to prediction the target.

___

#### **Package Imports**

In [1]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import math
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm

# VIF Imports
from statsmodels.stats.outliers_influence import variance_inflation_factor
from sklearn.preprocessing import OneHotEncoder



pd.reset_option('all')

/var/folders/wg/hrk6rd4s2mv7ztvpxryxn48c0000gn/T/ipykernel_9148/2384015227.py:15: FutureWarning: data_manager option is deprecated and will be removed in a future version. Only the BlockManager will be available.
  pd.reset_option('all')
/var/folders/wg/hrk6rd4s2mv7ztvpxryxn48c0000gn/T/ipykernel_9148/2384015227.py:15: FutureWarning: use_inf_as_na option is deprecated and will be removed in a future version. Convert inf values to NaN before operating instead.
  pd.reset_option('all')

#### **Import Datasets**

In [2]:
BDB_All_Plays = pd.read_csv("../../AFL_Final_Project/BDB_All_Plays.csv") # Big Data Bowl Dataset
FNF_All_Plays = pd.read_csv("../../AFL_Final_Project/FNF_All_Plays.csv") # First and Future Dataset
PDA_All_Plays = pd.read_csv('../../AFL_Final_Project/PDA_All_Plays.csv') # Punt Data Analytics

#### **Important Functions**

In [3]:
# =======================================================
# Taken from Module 3 Milestone 1
# # Link: https://github.com/LeeMcFarling/Module_3_Milestone_1/blob/main/Milestone_01.ipynb
# 
# Split df into Numeric and Categorical Datasets, so that 
# visualizations can be catered accordingly. 
# =======================================================

# Numeric Columns
def numerify(df):
    numeric_cols = df.select_dtypes(include='number').columns
    filtered_cols = [col for col in numeric_cols if 'id' not in col.lower()] # Filter OUT 'id' columns
    df_numeric = df[filtered_cols]
    return df_numeric

# Categorical Columns
def categorify(df):
    pot_id_cols = ('gameId','playId','nflId','playerId','teamId','stadiumId')
    valid_id_columns = [c for c in pot_id_cols if c in df.columns]

    df_categorical_cols = df.select_dtypes(exclude=['number']).columns.tolist()

    combined_cat_cols = df_categorical_cols + valid_id_columns
    df_categorical = df[combined_cat_cols]
    return df_categorical

In [4]:
# ========================================================================================
# Taken from Module 3 - Final Project Milestone 1
# Link: https://github.com/LeeMcFarling/Module_3_Milestone_1/blob/main/Milestone_01.ipynb
# 
# Prupose:
# This is meant to consolidate the 'show_null_counts_features' function from before with 
# another with 'value' and 'unique' counts later on in this analysis. 
# ========================================================================================

def profile_dataset(df):
    # Identify feature types
    feature_types = df.dtypes.apply(lambda x: 'Numeric' if np.issubdtype(x, np.number) else 'Categorical')

    # Build a summary DataFrame
    summary = pd.DataFrame({
        'Feature': df.columns,
        'Type': feature_types.values,
        'Null Values': df.isnull().sum().values,
        'Null %': (df.isnull().mean() * 100).round(2).values,
        'Count (Non-Null)': df.count().values,
        'Unique Values': df.nunique().values
    })

    # Sort Values in Summary by % of null values
    summary = summary.sort_values(by='Null %', ascending=False).reset_index(drop=True)

    # Add dataset shape info above the table
    print(f"This dataset contain {df.shape[0]} rows")
    print(f"This dataset contain {df.shape[1]} columns")

    # Display the summary
    return summary

In [5]:
# ========================================================================================
# Taken from Module 3 - Final Project Milestone 1
# Link: https://github.com/LeeMcFarling/Module_3_Milestone_1/blob/main/Milestone_01.ipynb
# 
# Function purpose is to intake a variety of related columns (Foul 1, Foul 2, etc.) and create
# an indicator flag from it. i.e. 'Did penalty occur? (Y/N)'
# ========================================================================================


def create_indicator_from_columns(df, columns, new_column_name):
    # Initialize a boolean series with False for all rows.
    indicator = pd.Series(False, index=df.index)
    
    for col in columns:
        try:
            if col in df.columns:
                indicator = indicator | df[col].notnull()
            else:
                print(f"Warning: Column '{col}' not found. Skipping.")
        except Exception as e:
            print(f"Error processing column '{col}': {e}")
    
    # Assign the indicator as an integer column to the DataFrame
    df[new_column_name] = indicator.astype(int)
    return df

#### **DataFrame Functions**

In [ ]:
# pd.set_option('display.max_columns', None) 
# pd.set_option('display.max_colwidth', None)
# pd.set_option('display.max_rows', None )

____

# **Big Data Bowl PreAnalysis**

In [6]:
BDB_All_Plays.head(1)

,gameId,playId,playDescription,quarter,down,yardsToGo,possessionTeam,defensiveTeam,yardlineSide,yardlineNumber,...,absoluteYardlineNumber,offenseFormation,personnelO,defendersInBox,personnelD,dropBackType,pff_playAction,pff_passCoverage,pff_passCoverageType,Inj_Occured
0,2021090900,97,(13:33) (Shotgun) T.Brady pass incomplete deep...,1,3,2,TB,DAL,TB,33,...,43.0,SHOTGUN,"1 RB, 1 TE, 3 WR",6.0,"4 DL, 2 LB, 5 DB",TRADITIONAL,0,Cover-1,Man,0

Let's break the dataset down into numeric and categorical data

In [7]:
BDB_All_Plays_Numeric = numerify(BDB_All_Plays)
BDB_All_Plays_Categorical = categorify(BDB_All_Plays)

Here is a profile of the numeric data

In [8]:
profile_dataset(BDB_All_Plays_Numeric)

This dataset contain 8557 rows
This dataset contain 13 columns

,Feature,Type,Null Values,Null %,Count (Non-Null),Unique Values
0,penaltyYards,Numeric,7801,91.17,756,60
1,defendersInBox,Numeric,7,0.08,8550,11
2,absoluteYardlineNumber,Numeric,1,0.01,8556,99
3,quarter,Numeric,0,0.00,8557,5
4,down,Numeric,0,0.00,8557,5
5,yardsToGo,Numeric,0,0.00,8557,32
6,yardlineNumber,Numeric,0,0.00,8557,50
7,preSnapHomeScore,Numeric,0,0.00,8557,42
8,preSnapVisitorScore,Numeric,0,0.00,8557,38
9,prePenaltyPlayResult,Numeric,0,0.00,8557,98
10,playResult,Numeric,0,0.00,8557,102
11,pff_playAction,Numeric,0,0.00,8557,2
12,Inj_Occured,Numeric,0,0.00,8557,2

From looking at the data, it looks like we need to impute a 0 in the penaltyYards column if there was no injury, and either drop the rows. or inpute an unknown into the absoluteYardlineNumber and defendersInBox.

In [9]:
profile_dataset(BDB_All_Plays_Categorical)

This dataset contain 8557 rows
This dataset contain 17 columns

,Feature,Type,Null Values,Null %,Count (Non-Null),Unique Values
0,foulName3,Categorical,8556,99.99,1,1
1,foulName2,Categorical,8527,99.65,30,15
2,foulName1,Categorical,7821,91.40,736,29
3,dropBackType,Categorical,528,6.17,8029,8
4,yardlineSide,Categorical,125,1.46,8432,32
5,offenseFormation,Categorical,7,0.08,8550,7
6,personnelD,Categorical,1,0.01,8556,29
7,personnelO,Categorical,1,0.01,8556,30
8,gameId,Numeric,0,0.00,8557,122
9,pff_passCoverageType,Categorical,0,0.00,8557,3
10,pff_passCoverage,Categorical,0,0.00,8557,12
11,playDescription,Categorical,0,0.00,8557,8555
12,possessionTeam,Categorical,0,0.00,8557,32
13,passResult,Categorical,0,0.00,8557,5
14,gameClock,Categorical,0,0.00,8557,898
15,defensiveTeam,Categorical,0,0.00,8557,32
16,playId,Numeric,0,0.00,8557,3762

There are a lot of null fields in the Foul / Penalty Fields. Let's roll that up into an indicator field to make things more simple to follow: 


- First, let's roll up Foul ID fields into the flag we need. 
- Second, let's consolidate Foul2 and Foul3

First, we'll use the fould ID fields to make a flag called 'foul_on_play'.

In [10]:
columns = ['foulNFLId1', 'foulNFLId2', 'foulNFLId3']
new_column_name = 'foul_on_play'
BDB_All_Plays_Clean = create_indicator_from_columns(BDB_All_Plays, columns, new_column_name)

BDB_All_Plays_Clean = BDB_All_Plays_Clean.drop(columns=columns, index=1)

Next, because the prevalence of injuries is so small compared to the total number of plays overall, and because the number of plays in which both fouls and Injuries occured is smaller still, we should do some quick analysis to see if granular foul name type information is worth keeping, or if a simple foul flag will suffice. 

The reasoning is that if a certain foul only occured twice in the overall total sample, we cannot reliably identify patterns on such a small number of events. Keeping this level of dtail risks the temptation to bootstrap an exceedingly small sample, which could amplify incomplete or misleading interactions. within the dataset as a whole.

In [11]:
print(f' Number of Plays in which Injuries & Fouls Occured: {len(BDB_All_Plays_Clean[(BDB_All_Plays_Clean['Inj_Occured'] == 1) & (BDB_All_Plays_Clean['foul_on_play'] == 1)])}')
print(f' Number of Plays in which Injuries Occured: {len(BDB_All_Plays_Clean[(BDB_All_Plays_Clean['Inj_Occured'] == 1)])}')
print(f' Number of Total Plays: {len(BDB_All_Plays)}')

 Number of Plays in which Injuries & Fouls Occured: 25
 Number of Plays in which Injuries Occured: 209
 Number of Total Plays: 8557

As suspected, the number of plays in which both fouls and injuries occured is 25 out of 8557, so ~ about a 0.0029 rate of incidence. 

Further investigating the data, we can see that there are 29 foul types in FoulName1 and 15 in FoulName2 and so on. 


Example:

In [12]:
for col in ['foulName1', 'foulName2', 'foulName3']:
    print(f"\n--- {col} ---")
    print(f'{BDB_All_Plays_Clean[col].dropna().unique()}')

--- foulName1 ---
['Illegal Use of Hands' 'Taunting' 'Defensive Pass Interference'
 'Defensive Holding' 'Offensive Holding' 'Illegal Block Above the Waist'
 'Intentional Grounding' 'Offensive Pass Interference'
 'Unsportsmanlike Conduct' 'Defensive Offside' 'Illegal Formation'
 'Roughing the Passer' 'Unnecessary Roughness' 'Illegal Touch Pass'
 'Face Mask (15 Yards)' 'Ineligible Downfield Pass' 'Illegal Contact'
 'Disqualification' 'Illegal Blindside Block'
 'Lowering the Head to Initiate Contact' 'Chop Block' 'Low Block'
 'Illegal Shift' 'Tripping' 'Illegal Forward Pass' 'Illegal Substitution'
 'Illegal Motion' 'Horse Collar Tackle' 'Clipping']

--- foulName2 ---
['Unnecessary Roughness' 'Face Mask (15 Yards)' 'Tripping'
 'Defensive Offside' 'Roughing the Passer' 'Defensive Pass Interference'
 'Offensive Holding' 'Unsportsmanlike Conduct' 'Defensive Holding'
 'Illegal Use of Hands' 'Taunting' 'Disqualification'
 'Intentional Grounding' 'Offensive Pass Interference' 'Illegal Contact']

--- foulName3 ---
['Illegal Contact']

^ As such, the data is too granular on such a small scale to combine and then create dummy variables for > 29 different categories. Further investigations into foul types on injury rates are worth investigating but the sample size should be more than 8 weeks in one NFL season. 

For now, a foul_on_play flag will be deemed sufficient, and extra granular information will be removed to avoid any risks in confounding the model.

In [13]:
drop_cols = ['foulName1', 'foulName2', 'foulName3']
BDB_All_Plays_Clean.drop(columns=drop_cols, axis=1, inplace=True)

In [14]:
profile_dataset(BDB_All_Plays_Clean)

This dataset contain 8556 rows
This dataset contain 28 columns

,Feature,Type,Null Values,Null %,Count (Non-Null),Unique Values
0,penaltyYards,Numeric,7800,91.16,756,60
1,dropBackType,Categorical,528,6.17,8028,8
2,yardlineSide,Categorical,125,1.46,8431,32
3,defendersInBox,Numeric,7,0.08,8549,11
4,offenseFormation,Categorical,7,0.08,8549,7
5,personnelD,Categorical,1,0.01,8555,29
6,personnelO,Categorical,1,0.01,8555,30
7,absoluteYardlineNumber,Numeric,1,0.01,8555,99
8,prePenaltyPlayResult,Numeric,0,0.00,8556,98
9,Inj_Occured,Numeric,0,0.00,8556,2
10,pff_passCoverageType,Categorical,0,0.00,8556,3
11,pff_passCoverage,Categorical,0,0.00,8556,12
12,pff_playAction,Numeric,0,0.00,8556,2
13,playResult,Numeric,0,0.00,8556,102
14,gameId,Numeric,0,0.00,8556,122
15,playId,Numeric,0,0.00,8556,3762
16,passResult,Categorical,0,0.00,8556,5
17,preSnapVisitorScore,Numeric,0,0.00,8556,38
18,preSnapHomeScore,Numeric,0,0.00,8556,42
19,gameClock,Categorical,0,0.00,8556,898
20,yardlineNumber,Numeric,0,0.00,8556,50
21,defensiveTeam,Categorical,0,0.00,8556,32
22,possessionTeam,Categorical,0,0.00,8556,32
23,yardsToGo,Numeric,0,0.00,8556,32
24,down,Numeric,0,0.00,8556,5
25,quarter,Numeric,0,0.00,8556,5
26,playDescription,Categorical,0,0.00,8556,8554
27,foul_on_play,Numeric,0,0.00,8556,2

Now let's check up on the features that still have null fields.

In [15]:
for col in ['penaltyYards', 'dropBackType', 'yardlineSide', 'defendersInBox', 'offenseFormation']:
    print(f"\n--- {col} ---")
    print(f'{BDB_All_Plays_Clean[col].unique()}')
    print()

--- penaltyYards ---
[ nan   0.  14.   5.  26. -10.  16.  10.  -5. -14.   3.  19. -12.   8.
  15.  13.  11. -15.  17.  35.   2.   9.  -2.   6.  -4.  32.  21. -11.
  27.  36.   4.  12. -18.  25.  48.  -7.  28.  -3.  -6.  24.   7.   1.
  18.  43.  22.  23.  -9.  31.  20.  45.  47.  41.  33.  -8.  50.  39.
  46.  40.  38.  42. -13.]


--- dropBackType ---
['TRADITIONAL' 'SCRAMBLE_ROLLOUT_RIGHT' 'DESIGNED_ROLLOUT_RIGHT' nan
 'SCRAMBLE' 'DESIGNED_ROLLOUT_LEFT' 'UNKNOWN' 'DESIGNED_RUN'
 'SCRAMBLE_ROLLOUT_LEFT']


--- yardlineSide ---
['TB' 'DAL' nan 'ATL' 'PHI' 'PIT' 'BUF' 'NYJ' 'CAR' 'MIN' 'CIN' 'DET' 'SF'
 'HOU' 'JAX' 'IND' 'SEA' 'TEN' 'ARI' 'LAC' 'WAS' 'CLE' 'KC' 'MIA' 'NE'
 'NO' 'GB' 'NYG' 'DEN' 'CHI' 'LA' 'LV' 'BAL']


--- defendersInBox ---
[ 6.  7.  5.  4.  8.  3.  9. 10. nan 11.  2.  1.]


--- offenseFormation ---
['SHOTGUN' 'SINGLEBACK' 'EMPTY' 'I_FORM' 'JUMBO' 'PISTOL' nan 'WILDCAT']

Of the five features with missing values, three are easily imputed with 0 or unknown values -- the reasoning is as follows: 

- Penalty Yards: If no penalty, there are 0 penalty yards,
- drop back type:  An 'Unknown' type already exists. If N/A, then it's assumed unknown 
- YardLineSide: This is a string type categorical variable. It is easily imputed as NA with little change to the overall nature of the field. 

- OffensiveFormation: Again, as this is a string type categorical field, N/A values are easily imputed as UNKNONWN here.

In [16]:
BDB_All_Plays_Clean = BDB_All_Plays_Clean.fillna({
    'penaltyYards': 0,
    'dropBackType': 'UNKNOWN',
    'yardlineSide': 'UNK',
    'offensiveFormation': 'UNKNOWN'
})

Because defenders in the box is not categorical, and is indeed numeric, adding an unknown category here would change the nature of the feature itself, additionally, we cannot impute '0' in this case because '0' is distinct from 'unknown' and doing so could confound the variable. 

To further investigate, let's query based on this field specifically

In [17]:
BDB_All_Plays_Clean[BDB_All_Plays_Clean['defendersInBox'].isna()].index

Index([916, 1570, 1654, 4887, 6874, 6899, 7912], dtype='int64')

Judging from the INJ_OCCURED field, there were no injuries that happened in this (extremely small) sample. In this case, it's safe just to drop the records and it will not have a significant impact on our target.

In [18]:
BDB_dropable_records = BDB_All_Plays_Clean[BDB_All_Plays_Clean['defendersInBox'].isna()].index
BDB_All_Plays_Clean = BDB_All_Plays_Clean.drop(BDB_dropable_records)

And let's re-profile the dataset to see how  we're doing:

In [19]:
profile_dataset(BDB_All_Plays_Clean)

This dataset contain 8549 rows
This dataset contain 28 columns

,Feature,Type,Null Values,Null %,Count (Non-Null),Unique Values
0,gameId,Numeric,0,0.0,8549,122
1,playId,Numeric,0,0.0,8549,3761
2,Inj_Occured,Numeric,0,0.0,8549,2
3,pff_passCoverageType,Categorical,0,0.0,8549,3
4,pff_passCoverage,Categorical,0,0.0,8549,12
5,pff_playAction,Numeric,0,0.0,8549,2
6,dropBackType,Categorical,0,0.0,8549,8
7,personnelD,Categorical,0,0.0,8549,29
8,defendersInBox,Numeric,0,0.0,8549,11
9,personnelO,Categorical,0,0.0,8549,30
10,offenseFormation,Categorical,0,0.0,8549,7
11,absoluteYardlineNumber,Numeric,0,0.0,8549,99
12,playResult,Numeric,0,0.0,8549,102
13,prePenaltyPlayResult,Numeric,0,0.0,8549,98
14,penaltyYards,Numeric,0,0.0,8549,60
15,passResult,Categorical,0,0.0,8549,5
16,preSnapVisitorScore,Numeric,0,0.0,8549,38
17,preSnapHomeScore,Numeric,0,0.0,8549,42
18,gameClock,Categorical,0,0.0,8549,898
19,yardlineNumber,Numeric,0,0.0,8549,50
20,yardlineSide,Categorical,0,0.0,8549,33
21,defensiveTeam,Categorical,0,0.0,8549,32
22,possessionTeam,Categorical,0,0.0,8549,32
23,yardsToGo,Numeric,0,0.0,8549,32
24,down,Numeric,0,0.0,8549,5
25,quarter,Numeric,0,0.0,8549,5
26,playDescription,Categorical,0,0.0,8549,8547
27,foul_on_play,Numeric,0,0.0,8549,2

Great, we're almost ready to investigate the polynomial terms, all we have to do left is drop the ID type fields, make dummy variables for the categorical features, and then do some last minute checks to make sure we don't have perfect multicoliniarity.

Regarding the ID fields:

In [20]:
ID_Fields = ['gameId', 'playId', 'playDescription']
BDB_All_Plays_Clean.drop(columns=ID_Fields, inplace=True)

And now let's handle the dummy variables:

Ok so we are mostly good to go except for the gameClock variable which has 898 different unique variables. Let's change that into a floating point number instead of 14:58 etc, format it's in as nobody needs the negativity of 898 extra columns in a one-hot encoded variable in their lives.

In [21]:
BDB_All_Plays_Clean['gameClock']

0       13:33
2       12:23
3       09:56
4       09:46
5       08:53
        ...
8552    01:56
8553    01:07
8554    01:01
8555    00:39
8556    00:35
Name: gameClock, Length: 8549, dtype: object

In order to keep things consistant, let's convert this into what fraction of the quarter has elapsed. For instanct 7:30 out of a 15:00 game clock would be 0.5.

In [22]:
minutes = BDB_All_Plays_Clean['gameClock'].str[:2].astype(int) # convert minutes to int
seconds = BDB_All_Plays_Clean['gameClock'].str[-2:].astype(int) # convert seconds to int

numerator = (minutes * 60 + seconds) # our data points in seconds
denominator = (60 * 15) # amount of seconds in 15 minutes

BDB_All_Plays_Clean['frac_quarter_elapsed'] = 1 - (numerator / denominator).round(2)

and let's check if it worked

In [23]:
BDB_All_Plays_Clean.head(1)

,quarter,down,yardsToGo,possessionTeam,defensiveTeam,yardlineSide,yardlineNumber,gameClock,preSnapHomeScore,preSnapVisitorScore,...,personnelO,defendersInBox,personnelD,dropBackType,pff_playAction,pff_passCoverage,pff_passCoverageType,Inj_Occured,foul_on_play,frac_quarter_elapsed
0,1,3,2,TB,DAL,TB,33,13:33,0,0,...,"1 RB, 1 TE, 3 WR",6.0,"4 DL, 2 LB, 5 DB",TRADITIONAL,0,Cover-1,Man,0,0,0.1

It worked. Now let's drop the gameClock variable.

In [24]:
BDB_All_Plays_Clean.drop(columns='gameClock', axis=1, inplace=True)

In [25]:
BDB_All_Plays_Clean.head(5)

,quarter,down,yardsToGo,possessionTeam,defensiveTeam,yardlineSide,yardlineNumber,preSnapHomeScore,preSnapVisitorScore,passResult,...,personnelO,defendersInBox,personnelD,dropBackType,pff_playAction,pff_passCoverage,pff_passCoverageType,Inj_Occured,foul_on_play,frac_quarter_elapsed
0,1,3,2,TB,DAL,TB,33,0,0,I,...,"1 RB, 1 TE, 3 WR",6.0,"4 DL, 2 LB, 5 DB",TRADITIONAL,0,Cover-1,Man,0,0,0.10
2,1,2,6,DAL,TB,DAL,34,0,0,C,...,"0 RB, 2 TE, 3 WR",6.0,"3 DL, 3 LB, 5 DB",TRADITIONAL,0,Cover-3,Zone,0,0,0.17
3,1,1,10,DAL,TB,TB,39,0,0,I,...,"1 RB, 2 TE, 2 WR",6.0,"4 DL, 3 LB, 4 DB",TRADITIONAL,1,Cover-3,Zone,0,0,0.34
4,1,3,15,DAL,TB,TB,44,0,0,I,...,"1 RB, 1 TE, 3 WR",7.0,"3 DL, 4 LB, 4 DB",TRADITIONAL,0,Cover-3,Zone,0,0,0.35
5,1,2,5,TB,DAL,TB,11,0,0,C,...,"1 RB, 1 TE, 3 WR",6.0,"4 DL, 2 LB, 5 DB",TRADITIONAL,0,Cover-1,Man,0,0,0.41

next before one- hot encoding and doing VIF, let's make sure we know which of the columns to drop:

In [26]:
BDB_All_Plays_Clean_Categorical = categorify(BDB_All_Plays_Clean)
profile_dataset(BDB_All_Plays_Clean_Categorical)

This dataset contain 8549 rows
This dataset contain 10 columns

,Feature,Type,Null Values,Null %,Count (Non-Null),Unique Values
0,possessionTeam,Categorical,0,0.0,8549,32
1,defensiveTeam,Categorical,0,0.0,8549,32
2,yardlineSide,Categorical,0,0.0,8549,33
3,passResult,Categorical,0,0.0,8549,5
4,offenseFormation,Categorical,0,0.0,8549,7
5,personnelO,Categorical,0,0.0,8549,30
6,personnelD,Categorical,0,0.0,8549,29
7,dropBackType,Categorical,0,0.0,8549,8
8,pff_passCoverage,Categorical,0,0.0,8549,12
9,pff_passCoverageType,Categorical,0,0.0,8549,3

Now let's make dummie variables:

In [27]:
BDB_Dummies = pd.get_dummies(BDB_All_Plays_Clean_Categorical, drop_first=True)

print(BDB_Dummies.shape)

BDB_Dummies.head(1)

(8549, 181)

,possessionTeam_ATL,possessionTeam_BAL,possessionTeam_BUF,possessionTeam_CAR,possessionTeam_CHI,possessionTeam_CIN,possessionTeam_CLE,possessionTeam_DAL,possessionTeam_DEN,possessionTeam_DET,...,pff_passCoverage_Cover-2,pff_passCoverage_Cover-3,pff_passCoverage_Cover-6,pff_passCoverage_Goal Line,pff_passCoverage_Miscellaneous,pff_passCoverage_Prevent,pff_passCoverage_Quarters,pff_passCoverage_Red Zone,pff_passCoverageType_Other,pff_passCoverageType_Zone
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

And there were some issues, so let's cast the boolean columns as integers.

In [28]:
bool_cols = BDB_Dummies.select_dtypes(include='bool').columns
BDB_Dummies[bool_cols] = BDB_Dummies[bool_cols].astype(int)

and then let's concatenate the dummie variables created with the numeric features.

In [29]:
BDB_All_Plays_Clean_Numeric = numerify(BDB_All_Plays_Clean)
BDB_All_Plays_Model_Ready = pd.concat([BDB_All_Plays_Clean_Numeric, BDB_Dummies], axis=1)

print(BDB_All_Plays_Model_Ready.shape)
BDB_All_Plays_Model_Ready.head(5)

(8549, 196)

,quarter,down,yardsToGo,yardlineNumber,preSnapHomeScore,preSnapVisitorScore,penaltyYards,prePenaltyPlayResult,playResult,absoluteYardlineNumber,...,pff_passCoverage_Cover-2,pff_passCoverage_Cover-3,pff_passCoverage_Cover-6,pff_passCoverage_Goal Line,pff_passCoverage_Miscellaneous,pff_passCoverage_Prevent,pff_passCoverage_Quarters,pff_passCoverage_Red Zone,pff_passCoverageType_Other,pff_passCoverageType_Zone
0,1,3,2,33,0,0,0.0,0,0,43.0,...,0,0,0,0,0,0,0,0,0,0
2,1,2,6,34,0,0,0.0,5,5,76.0,...,0,1,0,0,0,0,0,0,0,1
3,1,1,10,39,0,0,0.0,0,0,49.0,...,0,1,0,0,0,0,0,0,0,1
4,1,3,15,44,0,0,0.0,0,0,54.0,...,0,1,0,0,0,0,0,0,0,1
5,1,2,5,11,0,0,0.0,10,10,21.0,...,0,0,0,0,0,0,0,0,0,0

___

# **Big Data Bowl: Variance Inflation Factor**

Next, we need to check the model for interactions between the polynomial terms. We will use the VIF method as detailed at the link below. 

#### **VIF Interpretation**

- Values near 1 mean that the features are independent
- Values between 1 and 5 shows moderate correlation
- Values > 10 show problematic levels of multicolinearity


Source: https://www.geeksforgeeks.org/python/detecting-multicollinearity-with-vif-python/

In [30]:
def VIF_Analyze(df):
    df_ready = df.select_dtypes(include=[np.number, 'bool', 'boolean'])
    df_not_ready = df.select_dtypes(exclude=[np.number])

    VIF_data = pd.DataFrame()
    VIF_data['feature'] = df_ready.columns
    VIF_data['VIF'] = [variance_inflation_factor(df_ready.values, i) for i in range(len(df_ready.columns))]

    print(f'These Columns were not formatted correctly. Could not include in analysis \n {df_not_ready.columns}')
    return VIF_data

In [31]:
VIF_data = VIF_Analyze(BDB_All_Plays_Model_Ready)
VIF_data.head(5)

/Users/leemcfarling/venvs/tfclean/lib/python3.12/site-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)

These Columns were not formatted correctly. Could not include in analysis
 Index([], dtype='object')

            feature        VIF
0           quarter  24.566081
1              down   9.350188
2         yardsToGo   7.737109
3    yardlineNumber   8.917720
4  preSnapHomeScore   6.247369

#### **Notes on the following VIF Analysis**

(I put the notes up here because I figured it would be more intuitive than scrolling to the bottom of a big data frame.)

So it looks like pff pass coverage and offensive formations are exhibiting perfect multicolliniarity, even after we drop one of the dummie variables. My guess would be that personnel O (offensive formation) and personell O (the specific number of offensive personel on the field.) are perfectly coordinated -- Intuitively, this makes sense, and might even be reflected in the Defensive formations.


So we'll start by dropping PFF Pass Coverage columns and then we'll re-run VIF and go from there.

In [32]:
VIF_data[VIF_data['VIF'] > 5].sort_values(by='VIF', ascending=False)

                            feature         VIF
195       pff_passCoverageType_Zone         inf
190  pff_passCoverage_Miscellaneous         inf
175     personnelD_6 DL, 4 LB, 1 DB         inf
183        pff_passCoverage_Bracket         inf
187        pff_passCoverage_Cover-3         inf
188        pff_passCoverage_Cover-6         inf
189      pff_passCoverage_Goal Line         inf
186        pff_passCoverage_Cover-2         inf
127     personnelO_1 RB, 4 TE, 0 WR         inf
191        pff_passCoverage_Prevent         inf
192       pff_passCoverage_Quarters         inf
193       pff_passCoverage_Red Zone         inf
194      pff_passCoverageType_Other         inf
124     personnelO_1 RB, 1 TE, 3 WR  348.345271
163     personnelD_4 DL, 2 LB, 5 DB  200.391842
155     personnelD_2 DL, 4 LB, 5 DB  122.782794
159     personnelD_3 DL, 3 LB, 5 DB   92.984512
125     personnelO_1 RB, 2 TE, 2 WR   92.649766
10                   defendersInBox   80.116153
154     personnelD_2 DL, 3 LB, 6 DB   63.824824
164     personnelD_4 DL, 3 LB, 4 DB   58.241643
181        dropBackType_TRADITIONAL   48.939061
160     personnelD_3 DL, 4 LB, 4 DB   46.222928
162     personnelD_4 DL, 1 LB, 6 DB   38.794718
8                        playResult   33.620643
158     personnelD_3 DL, 2 LB, 6 DB   32.254163
7              prePenaltyPlayResult   32.233450
136     personnelO_2 RB, 1 TE, 2 WR   28.099612
0                           quarter   24.566081
151     personnelD_1 DL, 4 LB, 6 DB   17.751240
126     personnelO_1 RB, 3 TE, 1 WR   15.157664
122     personnelO_1 RB, 0 TE, 4 WR   11.832100
185        pff_passCoverage_Cover-1   11.616349
152     personnelD_1 DL, 5 LB, 5 DB   11.049482
1                              down    9.350188
3                    yardlineNumber    8.917720
178           dropBackType_SCRAMBLE    8.226956
137     personnelO_2 RB, 2 TE, 1 WR    7.965273
2                         yardsToGo    7.737109
9            absoluteYardlineNumber    7.537330
169     personnelD_5 DL, 2 LB, 4 DB    6.732198
182            dropBackType_UNKNOWN    6.496944
119     personnelO_0 RB, 1 TE, 4 WR    6.465887
4                  preSnapHomeScore    6.247369
116        offenseFormation_SHOTGUN    6.239137
100                yardlineSide_NYJ    5.884829
5               preSnapVisitorScore    5.854203
99                 yardlineSide_NYG    5.551284
95                 yardlineSide_MIA    5.461573
108                yardlineSide_WAS    5.408517
14             frac_quarter_elapsed    5.376561
91                  yardlineSide_KC    5.368910
77                 yardlineSide_ATL    5.171383
80                 yardlineSide_CAR    5.154970
105                 yardlineSide_TB    5.145178
85                 yardlineSide_DEN    5.130737
135     personnelO_2 RB, 0 TE, 3 WR    5.029817

### Whole Columns that were dropped

In [33]:
BDB_All_Plays_Clean = BDB_All_Plays_Clean.drop(columns='pff_passCoverage', axis=1) 

# Added after VIF a second time
BDB_All_Plays_Clean = BDB_All_Plays_Clean.drop(columns='personnelO', axis=1) 

# Added after VIF a third time
BDB_All_Plays_Clean = BDB_All_Plays_Clean.drop(columns='personnelD', axis=1) 

# Added after VIF a fourth time
BDB_All_Plays_Clean = BDB_All_Plays_Clean.drop(columns='prePenaltyPlayResult', axis=1) # similar with playResult

# Added after VIF a fifth time
BDB_All_Plays_Clean = BDB_All_Plays_Clean.drop(columns='defendersInBox', axis=1) # Not correlated highly with target, and high VIF

# Dropped after VIF a sixth time
BDB_All_Plays_Clean = BDB_All_Plays_Clean.drop(columns='quarter', axis=1) # Not highly correlated with target, high VIF

#### One-Hot Dummie Columns that were Dropped

For the following, only one one-hot column was dropped (as opposed to the whole thing) because this feature was highly correlated to the target.

In [34]:
BDB_All_Plays_Model_Ready = BDB_All_Plays_Model_Ready.drop(columns='dropBackType_TRADITIONAL', axis=1) # Dropping only this one as feature is highly correlated with target

#### BDB Logistic Regression Dataset

In [ ]:
# BDB_All_Plays_Model_Ready.to_csv('../../Dataset Analysis/BDB_All_Plays_Model_Ready.csv', index=False)

____

## **Dataset 2: First and Future**


As a refresher, this dataset is from an NFL Kaggle comepetition looking at the effect different factors like field type and weather have on lower extremity injuries (ankles, feet, knee, etc.)

#### **Pre Analysis**

In [35]:
profile_dataset(FNF_All_Plays)

This dataset contain 267006 rows
This dataset contain 22 columns

,Feature,Type,Null Values,Null %,Count (Non-Null),Unique Values
0,Surface,Categorical,266929,99.97,77,2
1,InjuryLength,Categorical,266929,99.97,77,4
2,BodyPart,Categorical,266929,99.97,77,3
3,time,Numeric,45,0.02,266961,5872
4,distance,Numeric,45,0.02,266961,219352
5,speed,Numeric,45,0.02,266961,259649
6,direction,Numeric,45,0.02,266961,266790
7,y,Numeric,45,0.02,266961,266183
8,x,Numeric,45,0.02,266961,266738
9,PlayKey,Categorical,0,0.00,267006,267005
10,Position,Categorical,0,0.00,267006,23
11,PositionGroup,Categorical,0,0.00,267006,10
12,PlayType,Categorical,0,0.00,267006,7
13,PlayerGamePlay,Numeric,0,0.00,267006,102
14,Weather,Categorical,0,0.00,267006,8
15,Temperature,Numeric,0,0.00,267006,78
16,FieldType,Categorical,0,0.00,267006,2
17,StadiumType,Categorical,0,0.00,267006,3
18,PlayerGame,Numeric,0,0.00,267006,32
19,PlayerDay,Numeric,0,0.00,267006,215
20,PlayerKey,Numeric,0,0.00,267006,250
21,Inj_Occured,Numeric,0,0.00,267006,2

First let's drop high - null count columns:

In [ ]:
FNF_All_Plays.drop(columns=['Surface', 'InjuryLength', 'BodyPart', 'PlayerKey', 'PlayKey', 'PositionGroup'], inplace=True)

For those with a low number of nulls, we can impute with the mean and median (depending on which works better for that column)

In [ ]:
FNF_All_Plays.describe()

The x column is the only one with a high enough std to be suspicious, but when I checked the median it was similar.

In [ ]:
FNF_All_Plays = FNF_All_Plays.fillna({
    'time': 14.26,
    'distance': 0.13,
    'speed': 1.32, 
    'direction': 170.78,
    'y': 26.75,
    'x': 60.166
})

In [ ]:
profile_dataset(FNF_All_Plays)

In [ ]:
FNF_All_Plays_Categorical = categorify(FNF_All_Plays)
FNF_All_Plays_Numeric = numerify(FNF_All_Plays)

In [ ]:
profile_dataset(FNF_All_Plays_Categorical)

In [ ]:
FNF_Dummies = pd.get_dummies(FNF_All_Plays_Categorical, drop_first=True)

print(FNF_Dummies.shape)

FNF_Dummies.head(1)

In [ ]:
FNF_bool_cols = FNF_Dummies.select_dtypes(include='bool').columns
FNF_Dummies[FNF_bool_cols] = FNF_Dummies[FNF_bool_cols].astype(int)

In [ ]:
FNF_Model_Ready = pd.concat([FNF_Dummies, FNF_All_Plays_Numeric], axis=1)

print(FNF_Model_Ready.shape)
FNF_Model_Ready.head(5)

In [ ]:
FNF_Model_Ready.info()

# **First and Future: Variance Inflation Factor**

Now, just like the Big Data Bowl, we will check the interactions between the polynomial terms using VIF. 


#### **VIF Interpretation**

- Values near 1 mean that the features are independent
- Values between 1 and 5 shows moderate correlation
- Values > 10 show problematic levels of multicolinearity

In [ ]:
FNF_VIF_Data = VIF_Analyze(FNF_Model_Ready)
FNF_VIF_Data[FNF_VIF_Data['VIF'] > 10].sort_values(by='VIF', ascending=False)

In [ ]:
FNF_Model_Ready.columns

Now I took turns runnging the cell above, and then taking out the most egregious offenders in terms of highest inflation factors, (being multicolinear with other factors) and then re-running the analysis.

In [ ]:
# Run 1: 
FNF_Model_Ready.drop(columns=['distance'], inplace=True) # Extremely high VIF (over 1,000) - Didn't have strong correlation with Target

# Run 2: 
FNF_Model_Ready.drop(columns=['PlayerGame'], inplace=True) # High VIF (>20) Was highly correlated with playerDay

# Run 3: 
FNF_Model_Ready.drop(columns=['direction'], inplace=True) # High VIF (24.5), not strongly correlated with Target Variable

# Run 4: 
FNF_Model_Ready.drop(columns=['PlayType_Unknown'], inplace=True) # Attempt to solve high VIFs of other playtypes that were more correlated with target

In [ ]:
FNF_VIF_Data = VIF_Analyze(FNF_Model_Ready)
FNF_VIF_Data[FNF_VIF_Data['VIF'] > 5].sort_values(by='VIF', ascending=False)

So of those that remain, the playtype_pass and playtype_rush have a high VIF, this makes a lot of sense because these two are inversely correlated (most plays in the NFL are either a pass or a rush.) Temperature and Stadium Type also seem to have a high VIF as well, which also makes sense, as outdoor stadiums can get very hot or very cold. Finally player positioning on the field, (in terms of X and Y) have a high VIF, which again makes sense. 


I'm not going to drop any more columns here, because even though these variables seem to have a very strong correlation to each other, they also have the highest predictive power of the features that remain. Even though there is multicollinearity in this dataset, I suspect that it can be managed properly by using tree-based models (like Random Forest, etc.) instead of the base-logistic regression.

So for now, we will keep the remaining features as they are, and we will export the DF as it is for future weeks.

In [ ]:
# FNF_Model_Ready.to_csv('../../Dataset Analysis/FNF_Model_Ready.csv', index=False)

_____

# **Punt Data Analytics:**

As a refresher, this dataset was meant to analyze head injuries during punt plays.

#### **Pre-Analysis**

Like the others, the data cleaning and analysis up to this point was exploratory in nature. This pre-analysis is meant mainly to prepare the dataset for VIF and multicollinearity checks as well as modeling later on. 

Skip ahead to VIF analysis if necessary:

First, let's check up on the features

In [6]:
profile_dataset(PDA_All_Plays)

This dataset contain 6681 rows
This dataset contain 25 columns

,Feature,Type,Null Values,Null %,Count (Non-Null),Unique Values
0,Temperature,Numeric,586,8.77,6095,85
1,StadiumType,Categorical,381,5.70,6300,33
2,Turf,Categorical,9,0.13,6672,21
3,GameWeather,Categorical,0,0.00,6681,9
4,PlayDescription,Categorical,0,0.00,6681,6681
5,Score_Home_Visiting,Categorical,0,0.00,6681,603
6,Poss_Team,Categorical,0,0.00,6681,33
7,Play_Type,Categorical,0,0.00,6681,1
8,Quarter,Numeric,0,0.00,6681,5
9,YardLine,Categorical,0,0.00,6681,1470
10,Game_Clock,Categorical,0,0.00,6681,891
11,PlayID,Numeric,0,0.00,6681,3273
12,OutdoorWeather,Categorical,0,0.00,6681,138
13,GameKey,Numeric,0,0.00,6681,662
14,Season_Year,Numeric,0,0.00,6681,2
15,Stadium,Categorical,0,0.00,6681,66
16,Visit_Team,Categorical,0,0.00,6681,33
17,Home_Team,Categorical,0,0.00,6681,33
18,Start_Time,Categorical,0,0.00,6681,9
19,Game_Site,Categorical,0,0.00,6681,39
20,Game_Day,Categorical,0,0.00,6681,6
21,Game_Date,Categorical,0,0.00,6681,142
22,Week,Numeric,0,0.00,6681,17
23,Season_Type,Categorical,0,0.00,6681,3
24,Inj_Occured,Numeric,0,0.00,6681,2

In [7]:
PDA_Numeric = numerify(PDA_All_Plays)
profile_dataset(PDA_Numeric)

This dataset contain 6681 rows
This dataset contain 6 columns

       Feature     Type  Null Values  Null %  Count (Non-Null)  Unique Values
0  Temperature  Numeric          586    8.77              6095             85
1      GameKey  Numeric            0    0.00              6681            662
2  Season_Year  Numeric            0    0.00              6681              2
3         Week  Numeric            0    0.00              6681             17
4      Quarter  Numeric            0    0.00              6681              5
5  Inj_Occured  Numeric            0    0.00              6681              2

In [8]:
PDA_Categorical = categorify(PDA_All_Plays)
profile_dataset(PDA_Categorical)

This dataset contain 6681 rows
This dataset contain 18 columns

,Feature,Type,Null Values,Null %,Count (Non-Null),Unique Values
0,StadiumType,Categorical,381,5.70,6300,33
1,Turf,Categorical,9,0.13,6672,21
2,GameWeather,Categorical,0,0.00,6681,9
3,Score_Home_Visiting,Categorical,0,0.00,6681,603
4,Poss_Team,Categorical,0,0.00,6681,33
5,Play_Type,Categorical,0,0.00,6681,1
6,YardLine,Categorical,0,0.00,6681,1470
7,Game_Clock,Categorical,0,0.00,6681,891
8,OutdoorWeather,Categorical,0,0.00,6681,138
9,Season_Type,Categorical,0,0.00,6681,3
10,Game_Date,Categorical,0,0.00,6681,142
11,Stadium,Categorical,0,0.00,6681,66
12,Visit_Team,Categorical,0,0.00,6681,33
13,Home_Team,Categorical,0,0.00,6681,33
14,Start_Time,Categorical,0,0.00,6681,9
15,Game_Site,Categorical,0,0.00,6681,39
16,Game_Day,Categorical,0,0.00,6681,6
17,PlayDescription,Categorical,0,0.00,6681,6681

Alright, PlayDescription can be dropped (unique for each play), as well as PlayID.

Weather and Outdoor weather, as well as Stadium and Game_site are redundant, so we'll only keep the best one of those. 

Additionally, there are some columns like Score_Home_Visiting, YardLine, Game_Clock, Game_Date, Start_Time should be formatted to be numerical.

First we'll drop the PlayDescription and PlayID variables.

In [9]:
PDA_All_Plays.drop(columns=['PlayID', 'PlayDescription', 'GameKey'], inplace=True)

And we'll check the redundant columns:

In [10]:
for col in ['GameWeather', 'OutdoorWeather', 'Stadium', 'Game_Site']:
    print(f"\n--- {col} ---")
    print(f'{PDA_All_Plays[col].unique()}')
    print()

--- GameWeather ---
['Sunny' 'Partly Cloudy' 'Unknown' 'Rain' 'Cloudy' 'Hazy' 'N/A (Indoors)'
 'Snow' 'Fog']


--- OutdoorWeather ---
['Sunny' 'Partly Cloudy' 'Unknown' 'Rain'
 'T-Storms increasing over 30 minutes before kickoff' 'Cloudy' 'Hazy'
 'Hot' 'Cloudy, 74 degr. Wind SSW at 13 mph '
 '82 deg F, Winds W at 7mph, Humidity 57%'
 'Chance of Showers & Thunderstorms' 'Mostly Clear.'
 'Slight Chance of Rain' 'Sunny Skies' 'N/A (Indoors)' 'Mostly cloudy'
 '20% Chance of Rain' 'Falling to Upper 60s' 'Clear'
 'Partly sunny, 83 degr. Wind SSE at 7 mph' 'Overcast, muggy'
 'Party Cloudy' '72 deg F, Winds NNE 12 mph, Humidity 59%'
 'T: 82; H: 66%; W: ENE: 21' 'Falling to lows 70s' '10% Chance of Rain'
 '79' 'T: 84; H: 35%; W: NW 2 mph'
 'Partly sunny, 76 degr. Wind S at 5 mph'
 'Forecast: Temps in low 60s, clear skies, light winds'
 '73 deg F, Winds SW at 4mph, Humidy 72%'
 'Forecast: plentiful sunshine, high temp 67, winds 5-10 mph'
 '40% Chance of Rain' 'Cloudy, 85 degr. Wind SSW@ 8 mph'
 'T: 77; H: 83%; W: NE 6 mph' 'Sunny Intervals' 'Clear, temperate'
 '55 deg F, Winds N at 7mph, Humidity 59%'
 'Mostly Sunny, 60 degr. Wind N at 5 mph' 'Mostly Cloudy'
 'T: 73; H: 29%; W: NNE 8 mph'
 'Forecast: cloudy & breezy, 30% chance of showers'
 '64 deg F, Winds WSW at 13mph, Humidity 88%'
 '54 deg F, Winds W at 6mph, Humidy 73%' '0% Chance of Rain'
 'Clear, seasonal' ' Low to mid 50s by game end'
 'Forecast: 100% chance of showers, high temp 52, winds 9-13 mph'
 'Mostly Sunny' 'Partly sunny, 68 degr. Wind NW at 9 mph'
 'Falling to 70 by Game End' 'T: 56 H: 30% W: S 13'
 '32 deg F, Winds NW at 16mph, Humidity 63%'
 'Partly cloudy, 34 degr. Wind WNW at 10 mph'
 '44 deg F, Winds W at 9mph, Humidity 95%' 'T: 70; H: 39; W: S9'
 'Cloudy, 39 degr. Wind W @ 9 mph' 'Partly cloudy'
 'Forecast: partly sunny, high temp 42; winds 8-10 mph'
 'Falling to mid 30s. Gusts 15 to 30' 'Rainy, gloomy' 'Snow'
 'Forecast: cloudy with snow showers, high temp 30, winds SSE at 10-15 mph'
 'Cold' '28 deg F, Winds S at 12mph, Humidity 92%'
 'Cloudy, 34 degr. Wind S at 12 mph'
 'Forecast: variably cloudy, hi temp 26; winds 10-20 mph, 40% chance of snow'
 'T: 26; H: 39%; W: N13' 'Hazy Skies'
 'Forecast: mostly cloudy, 30% chance of showers, high temp 38, winds W 13-16 mph'
 'T:68; H: 23; W: NNW 7 mph' 'Chilly, drizzle'
 '33 deg F, Winds SE at 4 mph, Humidity 71%'
 'Sunny, 39 degr. Wind N at 6 mph' 'Falling to 40 by game end'
 'Partly cloudy, unseasonably warm' 'Fog' 'T:60; H:96%; W:ESE 6'
 'Forecast: partly cloudy, slught chance of rain, low temp 73'
 'Partly cloudy, 78 degr. Wind N at 4 mph.' 'Clear Skies'
 '78 deg F, Winds NW at 10mph, Humidity 45%' 'T: 81, H: 65%, W: NE12'
 '69 deg F, Winds W at 6 mph, Humidity 46%'
 'Light rain and sporadic thunder' 'Fair'
 'Forecast: continued cloudy, low temp 55'
 'Temps to Upper 60s, 20% Chance of Rain'
 'Cloudy, 78 degr. Wind NNE at 15 mph'
 'Forecast: high temp 65, no chance of rain'
 '61 deg F, Winds NE at 10 mph, Humidity 77%' 'T: 82; H: 30%; W: NE9'
 'Temp to Mid 60s' 'Partly sunny, 78 degr. Wind SSW at 6 mph.'
 'Chance of Thunderstorms, Falling to Mid 60s' 'Same'
 'Forecast: continued sunny, high temp 85'
 '84 deg F, Winds SE at 5mph, Humidity 50%' 'T: 75; H: 44%; W: SE6'
 'Falling to near 60, chance of thunderstorm'
 '68 deg F, Winds SW at 5mph, Humidity 64%'
 'Cloudy, 68 degr. Wind ESE at 12 mph' 'Showers'
 'T: 88; H: 17%; W: SOUTH 6 mph' 'Mostly Cloudy, 78F'
 'Dropping to Mid 40s by Game End'
 'Forecast: high temp 77, no chance of rain'
 'Cloudy, 72 degr. Wind S at 17 mph'
 'Forecast: cloudy with light rain, high temp 44' 'Rainy'
 '41 deg F, Winds NW at 6 mph, Humidity 68%' 'T: 90; H: 43%; W: SSW 9mph'
 'Forecast: continued mostly cloudy, stable temps'
 '37 deg F, Winds SSE at 1 mph, Humidity 88%, Rain' '47F, Light Rain'
 'Falling to High 30s' 'Falling to uppers 40s' '54'
 '34deg F, Winds SW at 11mph, Humidity 63%' 'T: 66; H: 24%; W: 7 mph, ESE'
 'Sunny, 61' 'Sunny, 47 degr. Wind WSW at 10 mph' 'Partly Sunny'
 'Forecast: continued cloudy, temps in mid-40s, no chance of rain'
 'Partly cloudy, 44' 'Forecast: continued snow, temps in low 30s'
 'Chance of Flurries' 'Falling to low 50s'
 'Cloudy, 25 degr. Wind SE at 5 mph'
 '28 deg F, Winds ENE 12 mph, Humidity 80%'
 'Forecast: continued cloudy, no snow, temps in low 20s'
 'Cloudy, Light Rain' 'Sunny & Clear' 'T: 44; H: 55%; W: N,15'
 'Cloudy, 35' '11 deg F, Winds NW at 5 mph, Humidity 61%'
 'Partly sunny, 9 degr. Wind NW at 7 mph' 'Flurries, Falling to Mid-Teens']


--- Stadium ---
['Los  Angeles Memorial Coliseum' 'M&T Bank Stadium' 'Lambeau Field'
 'Soldier Field' 'Heinz Field' 'Levis Stadium' 'Ralph Wilson Stadium'
 'MetLife' 'MetLife Stadium' 'Paul Brown stadium' 'Gillette Stadium'
 'University of Phoenix' 'Nissan Stadium' 'Arrowhead Stadium'
 'Lincoln Financial Field' 'Georgia Dome' 'Qualcomm Stadium'
 'FirstEnergy Stadium' 'Lucas Oil Stadium' 'Ford Field'
 'Los Angeles Memorial Coliseum' 'AT&T' 'CenturyLink Field' 'NRG Stadium'
 'New Era Field' 'FedExField' 'Sports Authority Field at Mile High'
 'EverBank Field' 'Oakland Alameda County Coliseum' 'U.S. Bank Stadium'
 'Bank of America Stadium' 'Mercedes-Benz Superdome'
 'Camping World Stadium' 'Raymon James Stadium' 'Hard Rock Stadium'
 'Raymond James Stadium' 'University of Phoenix Stadium'
 'Paul Brown Stadium' 'Mercedes Benz-Superdome' 'Wembley Stadium'
 'Solider Field' 'M & T Bank Stadium' 'Oakland-Alameda County Coliseum'
 'Twickenham' 'Wembley' 'NRG Stadiium' 'US Bank Stadium'
 'University of Phoeinx Stadium' 'Bank of America Stadium ' 'AT&T Stadium'
 'Lucas Oil' 'Estadio Azteca' 'Solidier Field' 'Bank of America'
 'Tom Benson Hall of Fame Stadium' 'StubHub Center' 'Everbank Field'
 'Mercedes-Benz Stadium' 'FirstEnergy' 'Mercedes-Benz Dome' 'M&T Stadium'
 'First Energy Stadium' 'NRG' 'CenturyLink' 'Twickenham Stadium'
 'Oakland Alameda-County Coliseum']


--- Game_Site ---
['Los Angeles' 'Baltimore' 'Green Bay' 'Chicago' 'Pittsburgh'
 'Santa Clara' 'Orchard Park' 'East Rutherford' 'Cincinnati' 'Foxborough'
 'Glendale' 'Nashville' 'Kansas City' 'Philadelphia' 'Atlanta' 'San Diego'
 'Cleveland' 'Indianapolis' 'Detroit' 'Arlington' 'Seattle' 'Houston'
 'Landover' 'Denver' 'Jacksonville' 'Oakland' 'Minneapolis' 'Charlotte'
 'New Orleans' 'Orlando' 'Tampa Bay' 'Miami Gardens' 'London' 'Mexico'
 'Canton' 'Carson' 'Wembley' 'Twickenham' 'Mexico City']

After checking my EDA for semester 2, I formatted and condensed the weather and Game_Site columns, but not the outdoor weather column and Stadium columns. So we'll drop the two that haven't been formatted.

In [11]:
PDA_All_Plays.drop(columns=['Stadium', 'OutdoorWeather'], inplace=True)

And now let's check the numeric data that is showing up as categorical.

In [12]:
for col in [
    # 'Score_Home_Visiting',
    'YardLine', 
    'Game_Clock', 
    'Game_Date', 
    'StadiumType'
 ]:
    print(f"\n--- {col} ---")
    print(f'{PDA_All_Plays[col].unique()}')
    print()

--- YardLine ---
['LA 47' 'LA 29' 'DAL 18' ... 'KC 5' 'ATL 12' 'ATL 11']


--- Game_Clock ---
['12:30' '12:08' '10:01' '00:21' '10:26' '09:00' '00:27' '13:30' '05:28'
 '06:44' '05:50' '02:54' '01:51' '06:10' '01:59' '09:32' '08:37' '01:53'
 '14:18' '04:36' '02:48' '05:00' '03:29' '08:38' '06:06' '02:26' '06:59'
 '03:23' '00:06' '11:40' '10:17' '01:57' '13:24' '11:14' '03:44' '00:16'
 '12:19' '06:39' '03:40' '13:00' '05:16' '05:07' '01:07' '15:00' '11:37'
 '09:04' '12:04' '03:57' '02:12' '00:14' '14:19' '12:44' '05:08' '02:57'
 '01:09' '00:43' '13:38' '12:07' '05:56' '02:42' '00:18' '13:27' '03:51'
 '03:24' '09:16' '08:36' '00:35' '14:13' '12:05' '11:04' '09:01' '05:12'
 '04:10' '01:01' '09:20' '08:11' '04:23' '05:19' '11:01' '09:58' '08:24'
 '04:05' '03:05' '08:25' '03:55' '02:55' '02:24' '01:48' '08:16' '06:14'
 '04:37' '14:04' '12:02' '10:38' '10:23' '08:40' '00:38' '12:46' '06:30'
 '03:35' '09:59' '04:34' '02:38' '02:27' '07:42' '12:34' '08:07' '03:09'
 '02:00' '11:42' '03:33' '13:08' '05:14' '04:19' '12:35' '02:50' '00:40'
 '12:17' '03:54' '01:32' '10:46' '09:46' '02:02' '08:31' '03:12' '00:03'
 '13:40' '13:13' '09:52' '08:21' '06:51' '05:40' '13:28' '01:19' '00:50'
 '11:38' '11:32' '07:44' '03:53' '04:45' '08:22' '04:51' '03:16' '01:23'
 '12:56' '07:55' '05:49' '01:16' '11:11' '04:26' '01:45' '14:56' '14:05'
 '11:41' '09:44' '07:24' '03:25' '00:20' '12:53' '02:41' '00:13' '04:00'
 '10:02' '05:30' '03:08' '09:15' '05:45' '11:36' '02:35' '00:23' '04:58'
 '14:09' '12:43' '07:40' '04:52' '14:15' '01:38' '14:29' '09:42' '05:44'
 '02:28' '09:54' '07:13' '04:18' '06:42' '07:15' '04:35' '10:40' '08:33'
 '01:11' '03:36' '09:09' '06:29' '05:52' '09:18' '01:55' '09:17' '02:13'
 '09:13' '02:37' '03:04' '01:50' '01:37' '12:54' '05:11' '09:43' '13:39'
 '10:49' '07:50' '06:04' '03:47' '01:31' '09:56' '12:52' '04:43' '03:48'
 '06:54' '10:52' '02:19' '00:39' '13:33' '10:19' '08:12' '01:21' '09:33'
 '04:02' '02:43' '01:10' '11:51' '07:41' '03:46' '12:41' '05:05' '04:13'
 '01:34' '13:10' '09:40' '05:37' '13:14' '04:24' '02:34' '00:45' '12:20'
 '10:56' '11:55' '07:34' '03:31' '02:05' '14:14' '04:46' '13:35' '06:18'
 '13:19' '10:24' '08:44' '07:10' '14:54' '11:28' '09:38' '07:30' '14:38'
 '06:49' '02:47' '00:28' '14:12' '09:53' '04:48' '11:54' '09:41' '07:46'
 '01:08' '06:23' '03:39' '14:50' '09:34' '06:34' '05:42' '08:45' '01:47'
 '13:07' '14:00' '13:55' '12:09' '10:13' '08:41' '07:08' '08:48' '01:02'
 '09:47' '04:29' '12:29' '09:48' '07:25' '04:41' '14:01' '06:32' '04:14'
 '02:03' '03:14' '04:40' '01:15' '12:24' '00:30' '10:30' '07:45' '10:06'
 '08:35' '11:53' '03:11' '10:50' '08:34' '07:09' '00:59' '00:36' '12:37'
 '10:33' '06:46' '04:17' '12:26' '04:28' '01:58' '11:56' '10:53' '06:33'
 '13:05' '14:51' '08:39' '11:09' '11:31' '09:12' '12:01' '14:49' '08:51'
 '07:17' '00:55' '08:43' '12:27' '09:24' '06:55' '00:34' '13:51' '12:59'
 '09:37' '06:16' '06:12' '02:53' '05:15' '03:20' '09:57' '12:12' '04:01'
 '05:31' '13:06' '11:10' '07:31' '05:38' '07:56' '13:16' '11:44' '02:52'
 '00:22' '10:22' '09:22' '07:58' '06:03' '02:10' '13:57' '07:49' '04:54'
 '02:17' '01:39' '01:04' '07:01' '04:09' '00:00' '11:30' '10:03' '01:41'
 '09:30' '04:11' '00:31' '10:43' '10:32' '08:29' '00:51' '00:09' '09:14'
 '07:32' '02:49' '12:18' '08:13' '07:59' '11:58' '05:04' '04:08' '13:22'
 '03:15' '00:32' '00:47' '10:57' '00:12' '13:48' '11:20' '13:45' '09:25'
 '07:54' '14:20' '12:39' '07:29' '12:25' '13:04' '00:52' '13:50' '11:00'
 '08:05' '12:15' '08:23' '06:09' '12:10' '10:04' '12:58' '10:25' '02:51'
 '11:57' '13:58' '10:58' '02:46' '10:42' '13:03' '06:02' '04:20' '00:26'
 '02:08' '09:29' '09:07' '08:30' '07:07' '04:33' '11:05' '08:26' '06:40'
 '08:53' '11:49' '14:57' '08:42' '12:32' '06:31' '04:59' '05:22' '02:59'
 '11:06' '06:28' '00:33' '14:16' '10:47' '10:14' '04:47' '11:48' '05:51'
 '03:01' '12:06' '10:28' '06:08' '09:51' '08:20' '13:31' '12:47' '11:17'
 '09:06' '13:25' '08:04' '01:14' '11:15' '04:22' '02:30' '10:59' '06:53'
 '01:24' '06:37' '13:12' '01:46' '00:08' '02:58' '07:35' '03:06' '14:27'
 '04:38' '13:11' '11:33' '03:17' '05:46' '04:25' '07:03' '11:52' '07:43'
 '11:46' '04:30' '08:15' '03:43' '02:45' '09:10' '04:56' '02:06' '06:07'
 '11:35' '10:11' '07:00' '09:11' '01:26' '01:20' '13:41' '12:42' '13:46'
 '08:08' '12:00' '10:07' '07:26' '06:25' '11:02' '03:34' '13:56' '10:08'
 '10:35' '08:01' '05:03' '11:39' '07:22' '11:27' '12:40' '03:38' '08:10'
 '03:32' '04:12' '04:06' '01:12' '03:18' '12:48' '06:05' '11:59' '11:25'
 '09:02' '05:34' '02:31' '11:16' '09:21' '04:07' '11:13' '13:32' '08:47'
 '08:27' '01:56' '01:13' '00:53' '13:43' '08:02' '06:58' '07:23' '03:22'
 '01:42' '07:28' '07:36' '08:52' '06:21' '03:26' '01:27' '11:08' '08:56'
 '07:06' '10:18' '08:19' '01:05' '02:18' '12:31' '01:28' '07:12' '08:55'
 '06:19' '13:21' '05:39' '11:50' '13:49' '01:40' '13:20' '08:58' '05:17'
 '05:36' '03:56' '01:18' '07:02' '10:34' '11:03' '06:41' '00:02' '09:39'
 '04:27' '13:52' '00:10' '01:06' '07:16' '03:41' '08:57' '02:39' '00:04'
 '07:05' '13:09' '10:39' '04:53' '00:01' '05:35' '05:01' '06:52' '11:43'
 '03:10' '14:55' '09:35' '03:37' '04:03' '02:40' '11:18' '00:56' '10:20'
 '00:41' '14:07' '13:17' '13:02' '08:50' '06:00' '08:17' '08:32' '13:36'
 '13:37' '06:24' '03:49' '01:33' '04:32' '12:45' '02:32' '06:17' '03:13'
 '10:10' '01:52' '02:36' '00:07' '12:21' '05:21' '09:27' '06:45' '04:21'
 '03:21' '10:55' '00:29' '13:15' '05:20' '00:44' '01:49' '14:24' '12:50'
 '00:19' '10:37' '09:05' '11:12' '01:43' '01:22' '08:14' '06:50' '13:47'
 '01:25' '00:58' '10:12' '05:06' '07:52' '11:22' '05:59' '14:10' '01:54'
 '02:14' '05:26' '05:25' '02:56' '13:23' '03:07' '00:49' '01:17' '00:46'
 '01:36' '10:09' '09:23' '05:55' '00:37' '12:13' '03:50' '05:13' '13:54'
 '07:27' '00:54' '04:16' '08:54' '02:15' '10:15' '06:27' '02:09' '00:11'
 '07:51' '13:29' '05:32' '14:17' '04:42' '04:31' '05:09' '03:45' '09:03'
 '05:48' '12:14' '06:38' '12:11' '14:02' '12:23' '12:22' '03:03' '06:47'
 '04:44' '13:34' '10:36' '07:21' '07:18' '04:39' '11:26' '05:18' '13:26'
 '01:44' '08:46' '12:33' '04:15' '01:30' '14:22' '10:21' '06:56' '07:48'
 '04:04' '03:28' '05:27' '00:17' '04:55' '03:42' '02:23' '01:03' '04:49'
 '14:52' '14:45' '09:28' '09:45' '08:00' '13:18' '03:27' '02:21' '09:49'
 '01:00' '13:42' '07:04' '05:29' '10:05' '11:19' '14:06' '11:29' '06:36'
 '09:26' '12:51' '05:47' '06:26' '14:53' '00:15' '10:41' '08:06' '10:48'
 '03:30' '13:44' '07:19' '00:25' '09:50' '02:16' '06:01' '02:29' '07:11'
 '02:22' '13:01' '09:36' '03:00' '11:45' '14:39' '14:28' '12:55' '14:30'
 '14:03' '05:24' '02:44' '07:47' '10:31' '06:15' '05:53' '08:18' '05:23'
 '08:28' '05:43' '10:45' '08:03' '14:25' '13:59' '02:33' '10:16' '03:19'
 '06:13' '07:57' '09:55' '12:16' '07:38' '02:25' '00:48' '14:21' '11:24'
 '06:22' '04:57' '11:23' '05:54' '02:20' '09:19' '12:03' '05:57' '08:59'
 '14:23' '06:43' '00:05' '12:36' '10:54' '07:39' '05:02' '02:04' '06:35'
 '14:11' '05:58' '08:49' '00:42' '14:32' '06:48' '11:21' '08:09' '10:00'
 '14:08' '13:53' '11:47' '06:11' '07:37' '10:27' '03:52' '02:01' '06:57'
 '12:57' '04:50' '05:41' '12:49' '10:29' '14:47' '14:37' '05:10' '14:26'
 '02:07' '07:14' '12:28' '14:48' '00:24' '03:58' '10:51' '02:11' '01:29'
 '05:33' '01:35' '12:38' '11:34' '14:46' '10:44' '07:53' '03:02' '07:20'
 '09:31' '14:40' '00:57' '07:33' '14:35' '11:07' '09:08' '03:59' '14:44']


--- Game_Date ---
['2016-08-13 00:00:00.000' '2016-08-11 00:00:00.000'
 '2016-08-12 00:00:00.000' '2016-08-14 00:00:00.000'
 '2016-08-19 00:00:00.000' '2016-08-18 00:00:00.000'
 '2016-08-20 00:00:00.000' '2016-08-27 00:00:00.000'
 '2016-08-28 00:00:00.000' '2016-08-26 00:00:00.000'
 '2016-08-25 00:00:00.000' '2016-09-01 00:00:00.000'
 '2016-08-31 00:00:00.000' '2016-09-08 00:00:00.000'
 '2016-09-11 00:00:00.000' '2016-09-12 00:00:00.000'
 '2016-09-15 00:00:00.000' '2016-09-18 00:00:00.000'
 '2016-09-19 00:00:00.000' '2016-09-22 00:00:00.000'
 '2016-09-25 00:00:00.000' '2016-09-26 00:00:00.000'
 '2016-09-29 00:00:00.000' '2016-10-02 00:00:00.000'
 '2016-10-03 00:00:00.000' '2016-10-06 00:00:00.000'
 '2016-10-09 00:00:00.000' '2016-10-10 00:00:00.000'
 '2016-10-13 00:00:00.000' '2016-10-16 00:00:00.000'
 '2016-10-17 00:00:00.000' '2016-10-20 00:00:00.000'
 '2016-10-23 00:00:00.000' '2016-10-24 00:00:00.000'
 '2016-10-27 00:00:00.000' '2016-10-30 00:00:00.000'
 '2016-10-31 00:00:00.000' '2016-11-03 00:00:00.000'
 '2016-11-06 00:00:00.000' '2016-11-07 00:00:00.000'
 '2016-11-10 00:00:00.000' '2016-11-13 00:00:00.000'
 '2016-11-14 00:00:00.000' '2016-11-17 00:00:00.000'
 '2016-11-20 00:00:00.000' '2016-11-21 00:00:00.000'
 '2016-11-24 00:00:00.000' '2016-11-27 00:00:00.000'
 '2016-11-28 00:00:00.000' '2016-12-01 00:00:00.000'
 '2016-12-04 00:00:00.000' '2016-12-05 00:00:00.000'
 '2016-12-08 00:00:00.000' '2016-12-11 00:00:00.000'
 '2016-12-12 00:00:00.000' '2016-12-15 00:00:00.000'
 '2016-12-17 00:00:00.000' '2016-12-18 00:00:00.000'
 '2016-12-19 00:00:00.000' '2016-12-22 00:00:00.000'
 '2016-12-24 00:00:00.000' '2016-12-25 00:00:00.000'
 '2016-12-26 00:00:00.000' '2017-01-01 00:00:00.000'
 '2017-01-07 00:00:00.000' '2017-01-08 00:00:00.000'
 '2017-01-14 00:00:00.000' '2017-01-15 00:00:00.000'
 '2017-01-22 00:00:00.000' '2017-02-05 00:00:00.000'
 '2017-08-03 00:00:00.000' '2017-08-12 00:00:00.000'
 '2017-08-10 00:00:00.000' '2017-08-09 00:00:00.000'
 '2017-08-11 00:00:00.000' '2017-08-13 00:00:00.000'
 '2017-08-17 00:00:00.000' '2017-08-19 00:00:00.000'
 '2017-08-20 00:00:00.000' '2017-08-18 00:00:00.000'
 '2017-08-21 00:00:00.000' '2017-08-26 00:00:00.000'
 '2017-08-25 00:00:00.000' '2017-08-24 00:00:00.000'
 '2017-08-27 00:00:00.000' '2017-08-31 00:00:00.000'
 '2017-09-07 00:00:00.000' '2017-09-10 00:00:00.000'
 '2017-11-19 00:00:00.000' '2017-09-11 00:00:00.000'
 '2017-09-14 00:00:00.000' '2017-09-17 00:00:00.000'
 '2017-09-18 00:00:00.000' '2017-09-21 00:00:00.000'
 '2017-09-24 00:00:00.000' '2017-09-25 00:00:00.000'
 '2017-09-28 00:00:00.000' '2017-10-01 00:00:00.000'
 '2017-10-02 00:00:00.000' '2017-10-05 00:00:00.000'
 '2017-10-08 00:00:00.000' '2017-10-09 00:00:00.000'
 '2017-10-12 00:00:00.000' '2017-10-15 00:00:00.000'
 '2017-10-16 00:00:00.000' '2017-10-19 00:00:00.000'
 '2017-10-22 00:00:00.000' '2017-10-23 00:00:00.000'
 '2017-10-26 00:00:00.000' '2017-10-29 00:00:00.000'
 '2017-10-30 00:00:00.000' '2017-11-02 00:00:00.000'
 '2017-11-05 00:00:00.000' '2017-11-06 00:00:00.000'
 '2017-11-09 00:00:00.000' '2017-11-12 00:00:00.000'
 '2017-11-13 00:00:00.000' '2017-11-16 00:00:00.000'
 '2017-11-20 00:00:00.000' '2017-11-23 00:00:00.000'
 '2017-11-26 00:00:00.000' '2017-11-27 00:00:00.000'
 '2017-11-30 00:00:00.000' '2017-12-03 00:00:00.000'
 '2017-12-04 00:00:00.000' '2017-12-07 00:00:00.000'
 '2017-12-10 00:00:00.000' '2017-12-11 00:00:00.000'
 '2017-12-14 00:00:00.000' '2017-12-16 00:00:00.000'
 '2017-12-17 00:00:00.000' '2017-12-18 00:00:00.000'
 '2017-12-23 00:00:00.000' '2017-12-24 00:00:00.000'
 '2017-12-25 00:00:00.000' '2017-12-31 00:00:00.000'
 '2018-01-06 00:00:00.000' '2018-01-07 00:00:00.000'
 '2018-01-13 00:00:00.000' '2018-01-14 00:00:00.000'
 '2018-01-21 00:00:00.000' '2018-02-04 00:00:00.000']


--- StadiumType ---
['Outdoor' 'Outdoors' nan 'Dome' 'Indoor, non-retractable roof'
 'Retr. Roof - Closed' 'Indoors' 'Indoor' 'outdoor' 'Retractable Roof'
 'Outside' 'Open' 'Indoor, Non-Retractable Dome' 'Outdoors '
 'Retr. Roof-Open' 'Retr. Roof-Closed' 'Retr. Roof - Open'
 'Retr. roof - closed' 'Indoor, fixed roof' 'Indoor, Fixed Roof' 'Turf'
 'Indoors (Domed)' 'Ourdoor' 'Indoor, Open Roof' 'Outddors'
 'Domed, closed' 'Indoor, Roof Closed' 'Retr. Roof Closed'
 'Outdoor Retr Roof-Open' 'Closed Dome' 'Oudoor' 'Dome, closed'
 'Heinz Field' 'Outdor']

First, let's split the home - away score into two columns: 
- one for the home score
- And a second for away score

In [13]:
PDA_All_Plays['home_score'] = PDA_All_Plays['Score_Home_Visiting'].str[-2:].astype(int)
PDA_All_Plays['away_score'] = PDA_All_Plays['Score_Home_Visiting'].str[:2].astype(int)

And we'll drop the first column

In [14]:
PDA_All_Plays.drop(columns=['Score_Home_Visiting'], inplace=True)

Next, we'll format the stadium type the way it was formatted in First and Future.

In [15]:
stadium_mapping = {
    "Outdoor": "Outdoors",
    "Oudoor": "Outdoors",
    "Outdoors": "Outdoors",
    "Open": "Outdoors",
    "Outdoor Retr Roof": "Outdoors",
    "Oudoor": "Outdoors",
    "Outddors": "Outdoors",
    "Retr. Roof-Open": "Outdoors",
    "Retr. Roof - Open": "Outdoors",
    "Outdor": "Outdoors",
    "Outside": "Outdoors",
    "Heinz Field": "Outdoors",
    "Cloudy": "Outdoors",
    "Outdoor Retr Roof-Open" : "Outdoors", 
    "Ourdoor" : "Outdoors",
    "Indoor, Open Roof" : "Outdoors",
    "outdoor" : "Outdoors",
    "Outdoors ": "Outdoors",

    # "Indoors": "Indoors",
    "Closed Dome": "Indoors",
    "Domed": "Indoors",
    "closed": "Indoors",
    "Dome": "Indoors",
    "Indoor": "Indoors",
    "Retr. Roof-Closed": "Indoors",
    "Retr. Roof - Closed": "Indoors",
    "Retractable Roof": "Indoors",
    "Domed, Open": "Indoors",
    "Domed, open": "Indoors",
    "Roof Closed": "Indoors",
    "Dome, closed": "Indoors",
    "Domed, closed" : "Indoors",
    "Indoor, Roof Closed": "Indoors", 
    "Retr. Roof Closed": "Indoors",
    "Retr. roof - closed": "Indoors",
    "Non-Retractable Dome": "Indoors",
    "Indoor, non-retractable roof": "Indoors",
    "Indooor": "Indoors",
    "Indoor, fixed roof": "Indoors",
    "Indoor, Non-Retractable Dome": "Indoors",
    "Indoor, Fixed Roof": "Indoors",
    "Indoors (Domed)": "Indoors",

    "nan": "Unknown",
    "Bowl": "Unknown",
    "Turf": "Unknown"
}

PDA_All_Plays['StadiumType'] = PDA_All_Plays['StadiumType'].replace(stadium_mapping)
PDA_All_Plays['StadiumType'] = PDA_All_Plays['StadiumType'].replace(stadium_mapping).fillna("Unknown")

print(PDA_All_Plays['StadiumType'].unique())

['Outdoors' 'Unknown' 'Indoors']

And we can format the game_clock field, the same way that we formatted the field in our Big Data Bowl dataset earlier in this analysis.

In [16]:
minutes = PDA_All_Plays['Game_Clock'].str[:2].astype(int) # convert minutes to int
seconds = PDA_All_Plays['Game_Clock'].str[-2:].astype(int) # convert seconds to int

numerator = (minutes * 60 + seconds) # our data points in seconds
denominator = (60 * 15) # amount of seconds in 15 minutes

PDA_All_Plays['frac_quarter_elapsed'] = 1 - (numerator / denominator).round(2)

And then we'll drop the original gameclock field.

In [17]:
PDA_All_Plays.drop(columns=['Game_Clock'], inplace=True)

In [18]:
profile_dataset(categorify(PDA_All_Plays))

This dataset contain 6681 rows
This dataset contain 13 columns

,Feature,Type,Null Values,Null %,Count (Non-Null),Unique Values
0,Turf,Categorical,9,0.13,6672,21
1,Season_Type,Categorical,0,0.00,6681,3
2,Game_Date,Categorical,0,0.00,6681,142
3,Game_Day,Categorical,0,0.00,6681,6
4,Game_Site,Categorical,0,0.00,6681,39
5,Start_Time,Categorical,0,0.00,6681,9
6,Home_Team,Categorical,0,0.00,6681,33
7,Visit_Team,Categorical,0,0.00,6681,33
8,StadiumType,Categorical,0,0.00,6681,3
9,GameWeather,Categorical,0,0.00,6681,9
10,YardLine,Categorical,0,0.00,6681,1470
11,Play_Type,Categorical,0,0.00,6681,1
12,Poss_Team,Categorical,0,0.00,6681,33

For the Game_Date, we already have the day of the week in another column, and right now this has way too many (>1,400 entries) for a categorical field. I got chatGPT to help me with the syntax of how to coerce the field into datetime and then strip the month out of it: 

(Transcription: https://chatgpt.com/share/68ec13b1-a060-800f-9b27-f79eab0f2c1a)

In [19]:
PDA_All_Plays['Game_Date'] = pd.to_datetime(PDA_All_Plays['Game_Date'], errors='coerce') # turn into datetime from string
PDA_All_Plays['month'] = PDA_All_Plays['Game_Date'].dt.strftime('%B') # roll into month

And then let's drop the original column

In [20]:
PDA_All_Plays.drop(columns=['Game_Date'], inplace=True)

And let's do the same mapping from before with the turf column.

In [21]:
PDA_All_Plays['Turf'].unique()

array(['Grass', 'Natural Grass', 'DD GrassMaster', 'Natural grass',
       'A-Turf Titan', 'FieldTurf', 'UBU Speed Series-S5-M',
       'UBU Sports Speed S5-M', 'Field Turf', 'Artificial', 'Synthetic',
       'grass', 'Natural Grass ', 'Natural', nan, 'Natrual Grass',
       'FieldTurf 360', 'UBU Speed Series S5-M', 'Artifical',
       'FieldTurf360', 'Naturall Grass', 'Field turf'], dtype=object)

In [22]:
turf_map = {
    # Natural
    'Grass': 'Natural',
    'Natural Grass': 'Natural',
    'DD GrassMaster': 'Natural',
    'Natural grass': 'Natural',
    'Natural Grass ': 'Natural',
    'Natural': 'Natural',
    'Natrual Grass': 'Natural',
    'Naturall Grass': 'Natural',
    'grass': 'Natural',

    # Synthetic
    'A-Turf Titan': 'Synthetic',
    'FieldTurf': 'Synthetic',
    'Field Turf': 'Synthetic',
    'FieldTurf360': 'Synthetic',
    'FieldTurf 360': 'Synthetic',
    'UBU Speed Series-S5-M': 'Synthetic',
    'UBU Sports Speed S5-M': 'Synthetic',
    'UBU Speed Series S5-M': 'Synthetic',
    'Artificial': 'Synthetic',
    'Artifical': 'Synthetic',
    'Synthetic': 'Synthetic',

    # Unknown
    np.nan: 'Unknown'
}

PDA_All_Plays['Turf'] = PDA_All_Plays['Turf'].map(turf_map)
PDA_All_Plays['Turf'] = PDA_All_Plays['Turf'].replace(stadium_mapping).fillna("Unknown")

print(PDA_All_Plays['Turf'].unique())

['Natural' 'Synthetic' 'Unknown']

And next, I got help with formatting the YardLine column into a proper yard line. 

So things like: 

'DAL 40' 

will turn into either 40 or 60 depending on the possession team. 

(In the same chat as earlier: https://chatgpt.com/share/68ec13b1-a060-800f-9b27-f79eab0f2c1a)

In [23]:
def normalize_yardline(row):
    try:
        team, yard = row['YardLine'].split()
        yard = int(yard)
    except:
        return None  # handle missing or malformed data
    
    # If possession team matches yardline prefix â†’ own side
    if row['Poss_Team'] == team:
        return yard
    else:
        return 100 - yard

# Apply to your dataframe
PDA_All_Plays['yardline_100'] = PDA_All_Plays.apply(normalize_yardline, axis=1)

#### **Note to Lee: Move Down**
Move down

In [36]:
PDA_All_Plays.drop(columns=['Home_Team'], inplace=True)

And then let's drop the old yard field.

In [25]:
PDA_All_Plays.drop(columns=['YardLine'], inplace=True)

And then Temperature has a few (~7%) null fields, so let's impute those with the mean (same strategy as with the other datasets).

In [26]:
PDA_All_Plays['Temperature'] = PDA_All_Plays[['Temperature']].fillna({
    "Temperature": 64.5
})

And now, lets get some dummie variables for the dataset.

In [87]:
PDA_Categorical = categorify(PDA_All_Plays)

In [88]:
PDA_Dummies = pd.get_dummies(PDA_Categorical, drop_first=True)

print(PDA_Dummies.shape)

PDA_Dummies.head(1)

(6681, 63)

,Game_Day_Monday,Game_Day_Saturday,Game_Day_Sunday,Game_Day_Thursday,Game_Day_Wednesday,Start_Time_13:00,Start_Time_14:00,Start_Time_15:00,Start_Time_16:00,Start_Time_17:00,...,GameWeather_Rain,GameWeather_Snow,GameWeather_Sunny,GameWeather_Unknown,month_December,month_February,month_January,month_November,month_October,month_September
0,False,True,False,False,False,False,False,False,False,True,...,False,False,True,False,False,False,False,False,False,False

In [89]:
PDA_bool_cols = PDA_Dummies.select_dtypes(include='bool').columns
PDA_Dummies[PDA_bool_cols] = PDA_Dummies[PDA_bool_cols].astype(int)

In [90]:
profile_dataset(PDA_Dummies)

This dataset contain 6681 rows
This dataset contain 63 columns

,Feature,Type,Null Values,Null %,Count (Non-Null),Unique Values
0,Game_Day_Monday,Numeric,0,0.0,6681,2
1,Turf_Synthetic,Numeric,0,0.0,6681,2
2,Visit_Team_New York Giants,Numeric,0,0.0,6681,2
3,Visit_Team_New York Jets,Numeric,0,0.0,6681,2
4,Visit_Team_Oakland Raiders,Numeric,0,0.0,6681,2
...,...,...,...,...,...,...
58,Visit_Team_Jacksonville Jaguars,Numeric,0,0.0,6681,2
59,Visit_Team_Kansas City Chiefs,Numeric,0,0.0,6681,2
60,Visit_Team_Los Angeles Chargers,Numeric,0,0.0,6681,2
61,Visit_Team_Los Angeles Rams,Numeric,0,0.0,6681,2
62,month_September,Numeric,0,0.0,6681,2

In [91]:
PDA_Numeric = numerify(PDA_All_Plays)
PDA_Model_Ready = pd.concat([PDA_Dummies, PDA_Numeric], axis=1)

print(PDA_Model_Ready.shape)
PDA_Model_Ready.head(5)

(6681, 69)

,Game_Day_Monday,Game_Day_Saturday,Game_Day_Sunday,Game_Day_Thursday,Game_Day_Wednesday,Start_Time_13:00,Start_Time_14:00,Start_Time_15:00,Start_Time_16:00,Start_Time_17:00,...,month_January,month_November,month_October,month_September,Quarter,Inj_Occured,home_score,away_score,frac_quarter_elapsed,yardline_100
0,0,1,0,0,0,0,0,0,0,1,...,0,0,0,0,1,0,7,0,0.17,47
1,0,1,0,0,0,0,0,0,0,1,...,0,0,0,0,2,0,21,7,0.19,29
2,0,1,0,0,0,0,0,0,0,1,...,0,0,0,0,2,0,21,7,0.33,18
3,0,1,0,0,0,0,0,0,0,1,...,0,0,0,0,2,0,24,7,0.98,54
4,0,1,0,0,0,0,0,0,0,1,...,0,0,0,0,3,0,24,14,0.30,15

# **Punt Data Analytics: Variance Inflation Factor**

Now, just like the other two datasets, we will check the interactions between the polynomial terms using VIF. 


#### **VIF Interpretation**

- Values near 1 mean that the features are independent
- Values between 1 and 5 shows moderate correlation
- Values > 10 show problematic levels of multicolinearity

In [92]:
PDA_VIF_Data = VIF_Analyze(PDA_Model_Ready)
PDA_VIF_Data[PDA_VIF_Data['VIF'] > 5].sort_values(by='VIF', ascending=False)

These Columns were not formatted correctly. Could not include in analysis
 Index([], dtype='object')

                 feature        VIF
2        Game_Day_Sunday  26.379830
63               Quarter  16.508154
45  StadiumType_Outdoors   9.108141
68          yardline_100   6.474498
3      Game_Day_Thursday   5.535545
11      Start_Time_19:00   5.060919
5       Start_Time_13:00   5.053765

In [ ]:
# PDA_All_Plays.drop(columns=['Season_Year'], inplace=True) # VIF > 2000 and correlated with other columns

# PDA_All_Plays.drop(columns=['Season_Type'], inplace=True) # VIF > 200 for both Reg and Post 

# PDA_All_Plays.drop(columns=['Game_Site'], inplace=True) # VIFs frequently over 10. Also figured it's highly correlated with Turf type which is the more granular variable

# PDA_All_Plays.drop(columns=['Week'], inplace=True) # VIF > 20 and figured that it was correlated with month which has more information we care about (December == cold, vs week 14, etc.)

# PDA_All_Plays.drop(columns=['Temperature'], inplace=True) # VIF > 20, not strongly correlated with target in EDA and less important than stadium type.

Ok and I think we'll call it there. Although there are some features that are still strongly multicollinear, like Game Day = Sunday and 
Stadium Type = Outdoors, I think that these could be well correlated with the target variable - Injury likelihood.

For game day = Sunday, it likely exhibits multicollinearity  Game_Day = Thursday, and time of day variables like game start (games start earlier on weekends). 

Additionally, variables like stadium type have a strong correlation to which stadium they are playing at and also variables like weather, time of day, and time of season (some stadiums have retractable domes.)

Due to the complex interplay of these variables, I am already not expecting basic logistic regression to predict these well, but rather ensemble and tree-based models. 

For that reason, and because I know that we will do further feature selection later on, I will keep them in for now.

In [ ]:
# PDA_Model_Ready.to_csv('../../Dataset Analysis/PDA_Model_Ready.csv', index=False)